---
import Section from "../../../commons/components/section.astro";
import { PARTNERS } from "../../../commons/constants";
---

<Section
  class="!py-20 bg-gray-50 md:bg-transparent"
  containerClassName="flex flex-col md:flex-row gap-10"
>
  <h2 class="text-2xl font-bold flex-shrink-0" data-aos="fade-up">
    Đối tác <br /> Clover CSC
  </h2>
  <div class="flex flex-row flex-wrap gap-3 md:flex-nowrap">
    {
      PARTNERS.map((partner, index) => (
        <div
          class="basis-auto shadow-lg md:shadow-none lg:basis-1/4 relative transition hover:-translate-y-2 duration-300 flex-1 bg-white md:bg-transparent rounded-md md:rounded-none"
          data-aos="fade-down"
          data-aos-delay={index * 200}
        >
          <a
            href={partner.url}
            class="block text-center p-3 md:p-0"
            target="_blank"
          >
            <img src={partner.src} alt={partner.alt} class="inline-block" />
          </a>
        </div>
      ))
    }
  </div>
</Section>
