---
import Section from "../../../commons/components/section.astro";

const heading_class =
  "text-white text-base md:text-lg font-bold italic text-center";
---

<Section
  class="h-64 flex flex-col items-center justify-center bg-[url('/imgs/chess.png')] bg-cover bg-bottom !pt-20 px-5 md:px-0"
>
  <h3 class={heading_class}>Chúng tôi giải quyết các câu hỏi chiến lược</h3>
  <h3 class={heading_class}>
    cho các bài toán tạo nên giá trị cho doanh nghiệp bằng các giải pháp
  </h3>
  <h3 class={heading_class}>tập trung vào doanh nghiệp</h3>
</Section>
