---

const heading_class = "text-white text-lg font-bold italic"
---

<section
  class="relative h-64 flex flex-col items-center justify-center bg-[url('/imgs/chess.png')] bg-cover bg-bottom pt-5"
>
  <h3 class={heading_class}>Chúng tôi giải quyết các câu hỏi chiến lược</h3>
  <h3 class={heading_class}>cho các bài toán tạo nên giá trị cho doanh nghiệp bằng các giải pháp</h3>
  <h3 class={heading_class}>tập trung vào doanh nghiệp</h3>
</section>
