---
---

<section class="relative py-14">
  <div class="container relative z-10 flex flex-row-reverse gap-10">
    <div class="basis-1/2 relative" data-aos="fade-left">
      <img src="/imgs/marketing.png" alt="Service 1" />
    </div>
    <div class="basis-2/4 relative text-right" data-aos="fade-right">
      <h2 class="text-3xl leading-relaxed font-bold mb-5">
        Truyền Thông<br /> Tích Hợp
      </h2>
      <h3 class="text-xl font-bold mb-3">Tư vấn chiến lược</h3>
      <p class="text-slate-600">
        Cung cấp các chiến lược kinh doanh, xây dựng và đào tạo nguồn nhân lực,
        tư vấn và phân tích tình hình cụ thể. Đề xuất cho doanh nghiệp những
        giải pháp tùy chỉnh phù hợp, giúp doanh nghiệp tối ưu hóa hiệu suất và
        đạt được mục tiêu kinh doanh.
      </p>
    </div>
  </div>
  <div
    class="absolute top-5 bottom-5 left-0 w-[65%] bg-slate-100 bg-[url('/imgs/logo-bg.png')] bg-right bg-no-repeat bg-[length:30%]"
  >
  </div>
</section>
