---
---

<section class="relative py-14">
  <div class="container relative z-10 flex flex-row-reverse gap-10">
    <div class="basis-1/2 relative" data-aos="fade-left">
      <img src="/imgs/service-4.jpeg" class="rounded-md" alt="Service 1" />
    </div>
    <div class="basis-2/4 relative text-right" data-aos="fade-right">
      <h2 class="text-3xl leading-relaxed font-bold mb-5">
        Thiết Kế & Thi Công<br /> Xây Dựng - Nội Thất
      </h2>
      <h3 class="text-xl font-bold mb-3">Dịch vụ Clover CSC</h3>
      <p class="text-slate-600">
        Cung cấp các giải pháp về thiết kế và tư vấn để tạo ra những không gian
        sống và làm việc hấp dẫn, tối ưu được chức năng và nâng cao thẩm mỹ.
      </p>
    </div>
  </div>
  <div
    class="absolute top-5 bottom-5 left-0 w-[65%] bg-slate-100 bg-[url('/imgs/logo-bg.png')] bg-right bg-no-repeat bg-[length:30%]"
  >
  </div>
</section>
