---
---

<section class="relative py-5">
  <div class="container flex flex-row flex-nowrap items-center gap-5">
    <div class="basis-1/3" data-aos="fade-right">
      <h2 class="text-2xl font-bold mb-3">Giá Trị<br /> Clover csc</h2>
      <p class="text-sm text-slate-600">
        Clover CSC cung cấp các dịch vụ tư vấn chuyên nghiệp, hỗ trợ định hình
        và thúc đẩy sự thành công- người đồng hành không thể thiếu trong hành
        trình phát triển của các doanh nghiệp và tổ chức.
      </p>
    </div>
    <div class="basis-1/3 relative" data-aos="fade-up">
      <img
        class="max-w-full h-auto block"
        src="/imgs/value.png"
        alt="Giá trị clover csc"
      />
    </div>
    <div class="basis-1/3" data-aos="fade-left">
      <blockquote>
        Thành công của chúng tôi được xây dựng dựa trên thành công của khách
        hàng
      </blockquote>
    </div>
  </div>
</section>
