---
import classNames from 'classnames';
import {isCurrentExact} from '../../utils.js';

const pathname = new URL(Astro.request.url).pathname;

const navbarItemClasses = "relative";
const navbarAnchorClasses = "block text-slate-400 border-b-transparent py-1 uppercase font-bold text-sm hover:text-white hover:border-b-4 hover:border-b-orange-600 transition duration-300";

const NAVBAR_ITEMS = [
  {
    href: '/',
    label: "Trang chủ",
  },
  {
    href: '/gioi-thieu',
    label: "Giới thiệu",
  },
  {
    href: '/dich-vu',
    label: "Dịch vụ",
  },
  {
    href: '/tin-tuc',
    label: "Tin tức",
  },
  {
    href: '/lien-he',
    label: "Liên hệ",
  },
]
---

<nav id='navbar' class="relative">
  <ul class="flex flex-row gap-4">
    {NAVBAR_ITEMS.map((item) => <li class={navbarItemClasses}>
      <a href={item.href} class={classNames({
         [navbarAnchorClasses]: true,
         "border-b-4 !border-b-orange-600 text-white": isCurrentExact(item.href, pathname)
      })}>
        {item.label}
      </a>
    </li>)}
  </ul>
</nav>
