---
import Widget from "../widget.astro";
---

<Widget>
  <img src="/imgs/logo.png" alt="Clover CSC" class="w-[99px] h-[85px]" />
  <ul class="flex flex-col gap-3 mt-4">
    <li>125 Đường số 1, Cư xá Đô Thành P4, Quận 3</li>
    <li>TP. Hồ Chí Minh</li>
    <li>Email: info@clovercsc.com</li>
  </ul>
</Widget>
