---
import { MAIN_SERVICES } from "../../constants";
import Widget from "../widget.astro";
---

<Widget title="Danh mục chính">
  <ul class="flex flex-col gap-1">
    {
      MAIN_SERVICES.map((link) => (
        <li>
          <a href={link.href}>{link.label}</a>
        </li>
      ))
    }
  </ul>
</Widget>
